@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@font-face {
  font-family: Praktika;
  src: url("assets/Fonts/praktika-light-webfont.woff") format("woff");
  font-family: Metro;
  src: url("assets/Fonts/METRO-DF.woff") format("woff");
}
/* html {
  overflow: auto;
} */

::-webkit-scrollbar {
  width: 3px;
  background-color: black;
}
body {
  font-family: Montserrat !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(151, 151, 151, 0.356);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: white;
}
/* STYLES FOR NAVIGATION */

a,
button,
input {
  outline: none !important;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #fc5c2e;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #111;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
.bm-overlay {
  width: 100vw !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  height: 90% !important;
  padding-top: 8em;
}
.bm-item-list a {
  color: white;
  text-decoration: none;
  padding-top: 4vh;
}
.bm-item-list :hover {
  color: grey;
  text-decoration: none;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.signout-nav {
  position: absolute;
  bottom: 4em;
}
.signout-nav:hover {
  color: white !important;
}
.profile-nav {
  position: absolute;
  top: 2em;
  padding-left: 1em;
}
.profile-icon {
  font-size: 40px;
}

@media screen and (max-width: 786px) {
  .home {
    padding-left: unset !important;
    padding-right: unset !important;
  }
  .head-icons {
    justify-content: center !important;
  }

  .cart {
    padding: 0 !important;
  }
  .collection .collection-item {
    margin-top: 1em;
  }
  .bm-menu-wrap {
    width: 100vw !important;
  }
}
/* STYLES FOR NAVIGATION */

/* STYLES FOR MAP */
.map {
  height: 100vh;
  width: 300%;
}
.ant-modal-content {
  background-color: #121212 !important;
}
.ant-modal-confirm-body .ant-modal-confirm-title {
  color: #fc5c2e !important;
}
.ant-modal-confirm-body
  > .anticon
  + .ant-modal-confirm-title
  + .ant-modal-confirm-content {
  color: white !important;
}
.ant-btn {
  background-color: transparent !important;
  border: none !important;
  color: white !important;
}
.ant-btn-primary {
  background-color: transparent !important;
  border: none !important;
  color: #fc5c2e !important;
}
.ant-btn-primary:hover,
.ant-btn:hover {
  background-image: linear-gradient(
    102.99deg,
    #fc5c2e 0%,
    #fcaa2e 100%
  ) !important;
  color: black !important;
}

.transform {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}
/*

.transform-active {
  border-radius: 100px;
 height: 30vh;
 width:15vw;
 
} */

/* STYLES FOR MAP */

/* STYLES FOR SERVICE-CUSTOMER */

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.service {
  /* background-color: black; */
  padding-top: 0.002em;
  width: 100%;
}

.srvc-frst-img img {
  width: 100%;
  height: auto;
}
.service-cards:hover {
  cursor: pointer;
}
.service-cards {
  padding: 0.8em;
}
.service-cards img {
  width: 30vh;
}
.service-whole {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.service-cards h4 {
  position: absolute;
  font-family: Montserrat;
  bottom: 0;
  right: 0;
}
.service-content {
  padding: 8em;
}
.srvc-buttons {
  display: flex;
  flex-direction: row;
}
.steam-wrap {
  padding: 2em;
  position: relative;
}
.steam-wrap h2 {
  padding-left: 4em;
  color: white;
  font-size: 27px;
  font-family: Montserrat;
}
.steam-content {
  text-align: center;
}
.steamcleaning-cards {
  display: inline-block;
  margin: 2em;
  position: relative;
}
.steamcleaning-cards h5 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 16em;
  left: 6em;
  font-size: 15px;
}
.card:hover {
  cursor: pointer;
}
.collection .collection-item {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.08)
  );
}
.accesories-main img {
  width: 32vw;
}
.accesories-moto {
  height: 100vh !important;
}
.otp-input input {
  width: 3em !important;
  height: 4em !important;
  color: white !important;
  padding-left: none !important;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  border: none;
}
.otp-input {
  margin-top: 5vh;
  margin-bottom: 3vh;
}
.card {
  background-color: transparent !important ;
  width: 14vw !important;
}
.ant-btn {
  height: 3em !important;
}
.ant-btn:hover {
  background: rgba(255, 255, 255, 0.08) !important ;
}
.ant-btn svg:hover {
  color: rgba(240, 92, 45, 0.87) !important;
}
.card-content {
  display: none;
}
.steamcleaning-cards a {
  color: white !important;
  font-size: 20px;
}
.steam-icons:hover {
  cursor: pointer;
}
.steamcleaning-cards a:hover {
  cursor: pointer;
}
.breadcrumb {
  background-color: rgb(35, 24, 20) !important;
  margin-left: 4em;
  padding: 1.75rem 1rem !important;
  padding-bottom: 0 !important;
}
.breadcrumb li {
  font-size: 13px;
}
.breadcrumb li a {
  color: white;
}
.ecu-bg {
  background-image: url("./assets/ecu.png");
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.service-text {
  color: white;
}
@media screen and (max-width: 786px) {
  .service {
    padding-bottom: 3em;
  }
  .service-cards {
    display: block;
    width: 80%;
  }
}

/* STYLES FOR SERVICE-CUSTOMER */

/* STYLES FOR ACCESORIES */
.nav {
  display: flex !important;
  justify-content: center;
  justify-content: space-evenly;
}
.nav-tabs .nav-link.active {
  color: white !important;
  background-color: black !important;
  border: none;
  border-bottom: 1px solid white;
  font-size: 1.1em;
}
.nav-tabs .nav-link {
  color: grey;
  font-size: 1.1em;
}

.accesories {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
}
.accesories-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%;
}
.accesories-detail {
  width: 50%;
}
.price {
  padding-top: 0.5em;
  width: 100%;
  background-color: rgb(37, 24, 20);
  color: white !important;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  padding-bottom: 2vh;
  position: absolute;
}
.accesories-moto {
  position: relative;
}

.rs {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: white !important;
}
.rs h3 {
  font-weight: 900;
  font-family: Montserrat;
  color: white !important;
  font-style: normal;
  font-size: 30px;
}
.estimate {
  padding-right: 1em;
  font-weight: lighter;
  color: white !important;
}
.shipping {
  text-decoration: underline;
  color: white !important;
}
.cost {
  color: white !important;
  font-weight: 900;
  font-family: Montserrat;
  padding-left: 1em;
}
.map-sos {
  display: flex;
  flex-direction: row;
}
.leaflet-left {
  top: 8em;
  left: 78px;
}
.sos {
  width: 100%;
  color: white;
  background-color: rgb(31, 30, 30);
  display: flex;
  flex-direction: column;
  padding-top: 10em;
}
.sos-content1 {
  border-bottom: 1px solid rgb(151, 151, 151);
  text-align: justify;
  padding: 5em;
  height: 35%;
  font-family: Montserrat;
}
.sos-content1 h3,
.sos-content2 h4,
.sos-content3 h4 {
  color: white;
}
.sos-content2 {
  border-bottom: 1px solid rgb(129, 129, 129);
  text-align: justify;
  padding-left: 5em;
  padding-top: 1.8em;
  height: 20%;
  font-family: Montserrat;
}
.sos-content2 p,
.sos-content3 p {
  font-size: 10px;
  color: rgb(202, 201, 201);
}
.sos-content3 {
  text-align: justify;
  padding-left: 5em;
  padding-top: 1.8em;
  height: 100%;
  font-family: Montserrat;
}
.sos-btn {
  position: absolute;
  bottom: 3em;
  border: none;
  background-color: red;
  color: white;
  border-radius: 23px;
  width: 10em;
  height: 3em;
  z-index: 1000;
}
.sos-btn:hover {
  box-shadow: 7px 7px 4px rgba(5, 5, 5, 0.25);
  background-color: rgb(253, 33, 33);
  width: 10.1em;
  height: 3.1em;
}
.height-define {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 6em;
  padding-top: 2em;
  background-color: linear-gradient(
      144.37deg,
      rgba(240, 92, 45, 0.08) 0%,
      rgba(255, 255, 255, 0) 60.15%
    ),
    #121212 !important;
}
.accesories-main {
  width: 50%;
}

@media screen and (max-width: 786px) {
  .height-define {
    display: flex;
    justify-content: center;
  }
  .leaflet-left {
    left: unset;
  }
  .accesories-main {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .accesories-carousel {
    width: 100vw;
  }
  .carousel .thumbs {
    padding-left: 0 !important;
  }
  .rs {
    flex-direction: column;
    width: 80%;
  }
  .sos {
    display: none;
  }
  .leaflet-top {
    top: 8em;
  }
  .carousel .slider-wrapper {
    width: 90vw !important;
  }
}

/* STYLES FOR ACCESOIRES */

/* STYLES FOR SIGNUPFORM */

.signupform {
  padding-top: 3em;
}
.signupform h1 {
  text-align: center;
}
.signup {
  height: 100vh;
  padding-top: 5em;
  background: linear-gradient(
      180deg,
      rgba(252, 92, 46, 0.08) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #121212;
}
.alice-carousel {
  height: 80vh;
}
.alice-carousel__wrapper {
  display: flex !important;
  justify-content: center !important;
}
.carousel .control-dots {
  text-align: right !important;
  padding-right: 4em !important;
}
.forms-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.alice-carousel__wrapper {
  padding-top: 1em;
}
.ant-btn > .anticon + span,
.ant-btn > span + .anticon,
.anticon svg {
  color: #f05c2d;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.75px;
}

.forms-signup input {
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.08);
  height: 3em;
  width: 25em;
  padding-left: 1.5em;
  margin-top: 1em;
  color: white;
}
.alice-carousel__next-btn-item {
  color: #fc5c2e !important;
}
.alice-carousel__prev-btn-item {
  color: #fc5c2e !important;
}
.alice-carousel__dots-item.__active {
  background-color: #fc5c2e !important;
}
.uploadform {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.uploadform h1,
.forms-signup h1 {
  font-family: Montserrat;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.37);
  line-height: 87%;
  letter-spacing: -0.5px;
  font-feature-settings: "kern" off;
}
.signup-upload {
  border-radius: 160px;
  background-color: #c4c4c4;
  height: 40vh;
  width: 20vw;
  /* border:1px solid red; */
  position: relative;
}
.upload-icon {
  font-size: 190px;
  text-align: center;
  margin-top: 5vh;
  margin-left: 5vh;
  color: white;
}
.upload-ic {
  position: absolute;
  color: #fc5c2e;
  font-size: 60px;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.upload-submit {
  margin-top: 3em;
  background-image: linear-gradient(102.99deg, #fc5c2e 0%, #fcaa2e 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: black;
  border: none;
  width: 20vw;
  height: 6vh;
  border-radius: 8px;
}
.upload-submit:hover {
  color: white;
}

/* STYLES FOR SIGNUP */

/* STYLES FOR SIGNIN */

.signin {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: linear-gradient(
      180deg,
      rgba(252, 92, 46, 0.08) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #121212;
}

.signin-logos-line {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.login-form input {
  background-color: rgba(255, 255, 255, 0.08);
  color: white;
  border-radius: 8px;
  border: none;
  width: 23em;
  height: 7vh;
  padding-left: 2em;
  margin-top: 1em;
  font-family: Montserrat;
}
.login-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.login-btns button {
  background-image: linear-gradient(102.99deg, #fc5c2e 0%, #fcaa2e 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: none;
  margin-top: 1em;
  height: 7vh;
  width: 15em;
  font-family: Montserrat;
  color: black;
  font-weight: 600;
}
.login-btns button:hover {
  color: white;
}
.forgot-signin {
  position: absolute;
  color: white !important;
  font-family: Montserrat;
  cursor: pointer;
  bottom: 2em;
}
.forgot-signin:hover {
  color: #fc5c2e !important;
}

/* STYLES FOR SIGNIN */

/* STYLES FOR FEEDBACK */

.rating {
  height: 100vh;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating h3 {
  color: white;
  font-family: Metro;
  font-weight: 900;
  padding-top: 2em;
}
.feedback {
  padding-top: 6em;
}
.ant-rate {
  font-size: 60px !important;
  text-align: center;
}
.feedback-comment {
  width: 100%;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  height: auto;
}
.feedback-input {
  width: 30vw;
  height: 30vh;
  background-color: rgba(250, 248, 248, 0.16);
  border: none;
  padding: 1.8em;
  color: white;
  display: block;
  outline: none;
  font-family: Montserrat;
}
.feedback-btn {
  border-radius: 8px;
  color: black !important;
  border: none;
  background: linear-gradient(102.99deg, #fc5c2e 0%, #fcaa2e 100%);
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 30px;
  width: 10em;
  font-weight: 600;
  padding-top: 5px;
  text-align: center;
  margin-top: 5vh;
}
.feedback-btn:hover {
  color: white !important ;
  font-weight: bold;
}
.feedback-btn svg {
  height: 3em;
  width: 3.4em;
}
@media screen and (max-width: 786px) {
  .footer-logo {
    width: 50vw !important;
  }
  .rating {
    padding-top: 4em !important;
  }
  .feedback-input {
    width: 80vw;
  }
  .ant-rate {
    font-size: 40px !important;
  }
}

/* STYLES FOR FEEDBACK */

/* STYLES FOR PAYMENT */

button.StripeCheckout {
  background: none !important;
  background-color: white !important;
  background: #fc5c2e !important;
}
.StripeCheckout span {
  background-image: none !important;
  background-color: black;
}

/* STYLES FOR STATUSBAR */

@import url("https://fonts.googleapis.com/css?family=Montserrat");

.status-bar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
}
.status-component {
  width: 60% !important;
}
html,
body {
  font-family: "Montserrat", sans-serif;
}
.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
  margin-right: -3px !important;
}
.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon,
.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  display: none !important;
}
.ant-steps-item-wait .ant-steps-item-icon,
.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: rgb(51, 51, 51) !important;
}
.ant-steps-item-process .ant-steps-item-icon,
.ant-steps-item-finish .ant-steps-item-icon,
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background: linear-gradient(
    221.09deg,
    #fc5c2e 11.94%,
    #fcc22e 85.47%
  ) !important;
  border: #fc5c2e;
}
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: white !important;
}
.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  color: black !important;
}

.ant-steps-horizontal:not(.ant-steps-label-vertical)
  .ant-steps-item:last-child
  .ant-steps-item-title,
.ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-description,
.ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: white !important;
}
.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title,
.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-description,
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title,
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-description {
  color: #fc5c2e !important;
}
.ant-steps-item-title::after {
  height: 10px !important;
  border-radius: 5px;
  margin-top: -4px;
}
.ant-popover-inner-content {
  color: white !important;
  height: 30vh;
}
.ant-popover-inner {
  border-radius: 10px !important;
  height: 30vh;
  width: 30vw;
}
.ant-popover-buttons {
  padding-top: 5em;
}
.ant-popover-buttons button {
  color: black;
  background-image: linear-gradient(102.99deg, #fc5c2e 0%, #fcaa2e 100%);
  border: none;
  font-family: Montserrat;
  border-radius: 4px;
  width: 11vw;
  height: 6vh;
  color: white !important;
}
.ant-popover-buttons button:hover {
  background-image: linear-gradient(102.99deg, #fcaa2e 100%, #fc5c2e 0%);
  color: white;
}
.ant-popover-message-title {
  font-size: 15px;
}

@media screen and (max-width: 786px) {
  .status-bar {
    justify-content: center;
    align-items: center;
    padding-top: unset;
  }
  .status-component {
    width: 50% !important;
  }
  .ant-popover-inner {
    width: 71vw;
  }
  .ant-popover-buttons button {
    width: 20vw;
  }
  .ant-popover-inner-content {
    height: 20vw;
  }
}
/* STYLES FOR STATUSBAR */

/* STYLES FOR ACCOUNT */

.account-main {
  padding: 6em;
  padding: 0 12em 0 12em;
}
.ant-tabs-nav .ant-tabs-tab-active {
  color: white !important;
}
.ant-tabs-top .ant-tabs-ink-bar-animated,
.ant-tabs-bottom .ant-tabs-ink-bar-animated {
  background: #fc5c2e !important;
}
.ant-tabs-nav .ant-tabs-tab {
  color: rgb(255, 255, 255) !important;
}
.ant-tabs-top .ant-tabs-ink-bar-animated,
.ant-tabs-bottom .ant-tabs-ink-bar-animated {
  background: #fc5c2e !important;
}
.prof-detail {
  width: 90%;
}
.prof-detail h5 {
  background-color: rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.38);
  padding: 0.5em;
  padding-left: 2em;
}
.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.table td {
  color: white;
  height: 20px;
  border-top: none;
  padding-top: 2em !important;
  border-top: none !important;
}
.edit-accnt {
  color: #fc5c2e !important;
}
.ant-upload-select-picture-card i {
  color: #999;
  font-size: 32px;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}
.ant-upload-list-picture-card .ant-upload-list-item-info,
.ant-upload-list-picture-card .ant-upload-list-item {
  border-radius: 50% !important;
}
.ant-upload-list-picture-card .ant-upload-list-item {
  height: 140px !important;
  width: 140px !important;
}
.ant-upload.ant-upload-select-picture-card > .ant-upload {
  padding: 0 !important;
}
.ant-upload.ant-upload-select-picture-card {
  margin-top: 3em;
  margin-left: 1em;
  height: 5vh !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  background-image: linear-gradient(
    102.99deg,
    #fc5c2e 0%,
    #fcaa2e 100%
  ) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none !important;
  border-radius: 8px !important;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 0 !important;
  color: black;
  font-family: Montserrat;
  font-weight: 600;
}
.accnt-upload {
  margin-right: 1.5em;
}

.accnt-scrty {
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 60%;
  position: relative;
}
.accnt-scrty h6 {
  color: white;
  padding-bottom: 1em;
}
.accnt-scrty input {
  border: none;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #121212;
  padding: 1em;
  height: 5vh;
  margin-bottom: 1em;
  border-radius: 8px;
  color: white;
}
.button-security {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: row;
  margin-left: auto;
  padding-bottom: 2em;
}
.button-security button {
  background: linear-gradient(102.99deg, #fc5c2e 0%, #fcaa2e 100%) !important;
  font-family: Montserrat;
  border: none;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  padding: 5px;
  border-radius: 8px;
}
.accnt-scrty td {
  color: white;
}

.accnt-help {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.accnt-help h5 {
  color: white;
}
.accnt-help a {
  color: white !important;
  text-decoration: underline !important;
}
.ant-tabs-top {
  padding: 3em !important;
}
.explore-link {
  color: #fc5c2d !important;
}
@media screen and (max-width: 786px) {
  .ant-tabs-top {
    padding: 0 !important;
  }
  .explore-link {
    right: 1.1em !important;
  }
  .account-main {
    padding: unset;
    padding: 1em;
  }
  .prof-detail {
    width: 100%;
  }

  .table-content tr,
  td {
    padding-left: unset !important;
  }
  .ant-tabs-nav-container-scrolling {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .ant-tabs-nav .ant-tabs-tab {
    font-size: 11px !important;
  }
  .accnt-scrty {
    width: unset;
    padding: 3em;
  }
  .accnt-help {
    text-align: center;
  }
  .table {
    flex-direction: column;
  }

  .accnt-upload {
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
  }
  .ant-tabs-nav .ant-tabs-tab {
    font-size: 13px;
  }
  .account-head {
    text-align: center;
    padding: 0 !important;
    padding-top: 3em !important;
  }
}
/* STYLES FOR ACCOUNT */

/* STYLES FOR HOME */

.ant-picker-panel-container .ant-picker-panel {
  width: 90% !important;
}
.home {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #121212;
  padding-left: 20vh;
  padding-right: 15vh;
  overflow: hidden;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 6em;
  background: linear-gradient(
      0deg,
      rgba(240, 92, 45, 0.08),
      rgba(240, 92, 45, 0.08)
    ),
    #121212;
}
.header-logo {
  width: 6em;
}
.home-second {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 13em 0 13em;
}
.home-service-cards {
  width: 2vh;
}
.home-second-second {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-second-content-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-second-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}
.home-second-part1 {
  display: flex;
  flex-direction: column;
}

.home-icons-wrap {
  padding: 6em;
  padding-bottom: 0;
}
.head-icons {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  /* padding: 0 5em 0 5em; */
  margin-bottom: 10vh;
  padding-top: 10vh;
}

.head-icons img {
  width: 28.8vh !important;
  padding-left: 2.5vh;
  padding-right: 2.5vh;
}
.news {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8em;
  padding-top: 3em;
  position: relative;
}
.legend {
  background: none !important;
  left: 0 !important;
  margin-left: unset !important;
  text-align: start !important;
}
.carousel .thumbs {
  /* display: none !important; */
}
.home-content-wrap {
  margin: 8em;
  margin-top: 0;
}
.home-content-wrap h5 {
  font-family: Praktika !important;
}
.home-content {
  width: 100% !important;
  /* background-image: url("./vector-icons/main-page-lines.svg"); */
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}
.home-content h5 {
  padding-top: 4em;
}
.home-content-part1 {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  background-image: url("./vector-icons/hexagon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.home-content-part2 {
  width: 100%;
  padding-top: 12vh;
  padding-left: 11em;
  padding-right: 11em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url("./vector-icons/hexagon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.home-accessories {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  width: 30vh;
  background: #1e1e1e;
  border-radius: 8px;
  margin-left: 2em;
  margin-top: 2em;
  cursor: pointer;
}
.home-accessories img {
  width: 8em;
}

.home-content-part1 img {
  padding-top: 4vh;
  padding-left: 2.5vh;
  padding-right: 2.5vh;
  width: 29.86vh;
  cursor: pointer;
}

.home-content-wrap h5 {
  color: white;
  font-family: Montserrat;
}
.explore-link {
  color: white !important;
  text-decoration: underline !important;
  position: absolute;
  right: 6em;
  padding-top: 2em;
}
.home-facebook {
  display: flex;
  justify-content: center;
  height: auto;
}
.home-facebook-content {
  width: 80%;
  height: 8vh;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.home-facebook-content h6 {
  color: white;
}
.home-icons {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.home-icons img {
  width: 10em !important;
}
.content-home {
  height: auto;
  padding-bottom: 30em;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.footer {
  background: linear-gradient(
    0deg,
    rgba(240, 92, 45, 0.08),
    rgba(240, 92, 45, 0.08)
  );

  /* Set a specific height */
  min-height: 350px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2em;
  width: 100%;
  position: absolute;
  bottom: 0;
  max-width: 100vw;
}
.footer-primary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6em;
  position: relative;
}
.footer-sub {
  position: absolute;
  left: 10em;
  top: 2em;
}
.footer-sub ul li {
  list-style-type: none;
  color: white;
  cursor: pointer;
  padding-top: 1em;
}
.footer-logo {
  width: 45vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  right: 10em;
}
.footer-logo img {
  width: 10em;
}
.footer-secondary {
  text-align: center;
}
.head-icons figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.head-icons figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer !important;
}

.hvr-float-shadow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.07),
      rgba(255, 255, 255, 0.08)
    ),
    black;
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover,
.hvr-pulse-grow:focus,
.hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
.home-news-forum {
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz-out:hover,
.hvr-buzz-out:focus,
.hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz-out:hover,
.hvr-buzz-out:focus,
.hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5em;
  padding-right: 2em;
  position: relative;
  padding-top: 2em;
  margin-left: 2em;
}
.carousel .slide .testcar {
  bottom: 30px !important;
  left: 10px;
  color: white;
  position: absolute;
  text-align: left !important;
}

.carousel-head {
  position: absolute;
  color: white;
  z-index: 100;
  bottom: 180px;
  left: 320px;
  font-weight: 900;
  font-size: 48px;
  font-family: Praktika;
}
.carousel-head1 {
  position: absolute;
  color: white;
  z-index: 100;
  bottom: 100px;
  left: 380px;
  font-weight: 900;
  font-size: 48px;
  font-family: Praktika;
}
.carousel-subhead {
  position: absolute;
  color: white;
  z-index: 100;
  bottom: 240px;
  left: 320px;
  font-weight: 300;
  font-size: 48px;
  font-family: Praktika;
}
.carousel-content {
  position: absolute;
  color: white;
  z-index: 100;
  bottom: 540px;
  left: 320px;
  font-weight: 300;
  font-size: 48px;
}
.carousel .thumbs-wrapper {
  display: none !important;
}
.trending-thread p {
  height: 9vh;
  line-height: 20px;
  width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.forum-timing {
  text-align: right;
}

@media screen and (max-width: 786px) {
  .head-icons {
    margin-bottom: 1vh;
  }
  .footer-secondary {
    padding-bottom: 4em;
  }
  .header {
    width: 100% !important;
    max-width: 100vw;
    padding-right: 1em;
    display: none;
  }
  .headerstore-content img {
    width: 20em;
  }
  .header-wrap {
    display: flex;
    /* justify-content: center;
    align-items:center; */
  }
  .breadcrumb {
    margin-left: 1em;
  }
  .carousel-subhead {
    font-size: 25px !important;
    bottom: 80px;
    left: 100px;
  }
  .el-head {
    left: 80px;
    bottom: 50px;
    font-size: 25px;
    font-family: Praktika;
  }
  .carousel-head1 {
    font-size: 25px;
    bottom: 70px;
    left: 100px;
  }
  .carousel .slide .testcar {
    bottom: -4px !important;
  }
  .testcar h3 {
    font-size: 17px;
    font-weight: bold;
  }
  .testcar p {
    font-size: 9px !important;
  }
  .newnav {
    display: none;
  }
  .recc-pro {
    flex-direction: column;
  }
  .products-individual {
    width: 100%;
    margin-bottom: 1em;
  }
  .home-content {
    background-image: unset;
  }
  .banner {
    padding: 0;
    padding-top: 7em;
    margin-left: 0 !important;
  }
  .carousel .carousel-status {
    display: none;
  }
  .content-home {
    height: auto;
  }
  .home-icons {
    padding-bottom: 4em !important;
  }
  .home-icons-wrap {
    padding: 0;
    background-image: url("./vector-icons/hexagon.png");
    background-repeat: repeat-y;
    background-size: contain;
  }
  .home-second-content-wrap {
    flex-direction: column;
    /* align-items: center; */
  }
  .home-second {
    /* justify-content: center;
    align-items: center; */
    padding: 0;
    margin: 3em 1em 2em 1em;
  }
  .home-second-part1 h1 {
    font-size: 64px !important;
  }
  .home-second-content {
    width: 100%;
    justify-content: space-around;
  }
  .home-second-second {
    width: 100%;
    justify-content: space-around;
  }
  .head-icons {
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 3em;
    justify-content: space-around !important;
  }
  .head-icons img {
    width: 13em !important;
  }
  .home-content-part1 {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    background-repeat: unset;
    background-repeat: repeat-y;
    justify-content: space-around;
    padding: 14px;
  }
  .home-content {
    height: auto;
  }
  .home-content h5 {
    padding-top: 5em;
  }
  .home-content-part1 img {
    width: 12em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .home-content-part2 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0;
    background-repeat: unset;
    background-repeat: repeat-y;
  }
  .home-accessories {
    width: 12em;
    height: 12em;
    margin-left: 0;
  }
  .home-accessories img {
    width: 5em;
  }
  .home-content-wrap {
    padding-bottom: 10em;
    margin: 0;
  }
  .home-icons-wrap h5 {
    padding-left: 1.5em !important  ;
  }
  .home-content-wrap h5 {
    padding-left: 1.5em;
  }
  .home-facebook-content {
    padding: 1em;
  }
  .home-facebook {
    padding-bottom: 3em;
  }

  .home-icons {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 40vh;
  }
  .footer-sub {
    display: none;
  }
  .footer-primary {
    justify-content: space-evenly;
    padding: 7em 0 7em 0;
  }
  .footer-logo img {
    width: 7em;
  }
  .news {
    padding: 0;
    padding-bottom: 3em;
  }
}

/* STYLES FOR NEW NAVBAR AND HEADER */

.newnav {
  position: absolute;
  width: 9%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.08)
  );
  text-align: center;
  z-index: 1000 !important;
}

.navmenu svg {
  font-size: 30px;
  color: rgb(129, 127, 127);
  margin-top: 1em;
}
.newnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 4%;
  background: linear-gradient(0deg, rgb(34, 34, 34), rgb(36, 36, 36));
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align: center;
}

.newnav li a {
  display: block;
  color: rgba(240, 92, 45, 0.87);
  padding: 8px 16px;
  text-decoration: none;
}
.newnav li a:hover {
  background-color: rgba(80, 80, 80, 0.411);
}

.newnav li a.active {
  background-color: rgba(80, 80, 80, 0.411);
  color: rgba(240, 92, 45, 0.87);
  width: 100% !important;
}

.newnav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.newnav ul li svg {
  /* color:rgba(240, 92, 45, 0.87); */
  font-size: 20px;
  color: white;
}
.newnav ul li .svg :hover {
  color: rgb(179, 176, 176);
  cursor: pointer;
}
.active svg {
  color: rgba(240, 92, 45, 0.87) !important;
}
.headerstore {
  position: absolute;
  z-index: 500 !important;
  height: 10vh;
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(240, 92, 45, 0.08),
      rgba(240, 92, 45, 0.08)
    ),
    #121212;
}
.headerstore-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 3em 0 3em;
}
.headerstore-content img {
  width: 6vw;
  height: 10vh;
}
@media screen and (max-width: 786px) {
  .headerstore-content img {
    width: 20vw !important;
  }
  .headerstore-content {
    padding: 0 0 0 0;
  }
  .footer {
    padding-bottom: 6em;
  }
}

/* STYLES FOR NEW NAVBAR */

/* STYLES FOR NEW STEAM CLEANING */
.steam-cleaning-wrap {
  width: 100%;
}
.steam-wrap {
  padding-left: 5em;
}
.steam-clean-content {
  height: 600vh;
  background-image: url("./vector-icons/main-page-lines.svg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: 87vw auto;
  position: relative;
  display: inline-block;
}
.home-content-part1-1 {
  padding-top: 7em;
  padding-left: 5em;
  padding-right: 4.5em;
  display: inline-block;
  justify-content: space-evenly;
  /* background-image:url("./vector-icons/hexagon.png") ;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; */
  padding-top: 18em;
}
.home-content-part1-1 img {
  width: 13em;
  padding: 1em;
}
.home-content2 {
  width: 100% !important;
  height: 148vh;
  background-image: url("./vector-icons/main-page-lines.svg");
  background-repeat: no-repeat;
  background-size: 90vw 290vh;
  position: relative;
}
.steam-clean-head {
  height: 85vh;
  background-image: url("./assets/Group 334.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* STYLES FOR BOTTOMNAV */
.bottommenu {
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8vh;
  display: none;
  z-index: 1000;
}
.bottommenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.bottommenu li {
  float: left;
}

.bottommenu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

.bottommenu li a:hover {
  background-color: #111;
}
.bottommenu ul li svg {
  /* color:rgba(240, 92, 45, 0.87); */
  font-size: 29px;
  color: rgba(255, 255, 255, 0.87);
}

@media screen and (max-width: 786px) {
  .height-define {
    height: auto;
  }
  .acc-main {
    width: 40% !important;
  }
  .bottommenu {
    display: flex;
  }
}

/* ////////////////////////////////////////HEADER/////////////////////////////////// */

/* ////////////////////////////////////PAYMENT//////////////////////////////////// */

.payment-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 6em;
  padding-top: 4em;
}
@media screen and (max-width: 786px) {
  .payment-content {
    flex-direction: column !important;
    padding: 1em 1em;
  }
  .payment-method,
  .payment-objects {
    width: 100% !important;
  }
  .payment-method img {
    width: 23em !important;
  }
  .card {
    width: 40vw !important  ;
  }
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 5em;
  }
  .cart {
    padding-left: 0 !important;
  }
  .collection p {
    display: none !important;
  }
  .height-define {
    padding: 0 !important;
    padding-top: 4em !important;
    padding-bottom: 20vh !important;
  }
  .box {
    flex-direction: row;
  }
  .ant-comment-avatar img {
    width: 4vh !important;
    height: 4vh !important;
    overflow: hidden;
  }
}
.ant-comment-avatar img {
  width: 4vh !important;
  height: 4vh !important;
  overflow: hidden;
}
.payment-method {
  width: 50%;
  display: flex;
  justify-content: center;
}
.payment-objects {
  width: 50%;
  display: flex;
  justify-content: center;
}
button.StripeCheckout {
  width: 10em !important;
  background: linear-gradient(
    105.62deg,
    #f05c2d 0%,
    #fcaa2e 120.94%
  ) !important;
}
.payment-estimate {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.StripeCheckout span {
  background-color: unset;
}

/* //////////////////////////////////////////FORUM//////////////////////////////////////////////////// */

.forum-home {
  min-height: 100vh;
  background-image: url("./vector-icons/hexagon.png");
  background-repeat: no-repeat;
  background-size: 63vw 112vh;
  background-color: #121212;
  padding-left: 20vh;
  padding-right: 15vh;
  overflow: hidden;
}
.forum-home-thread img {
  height: 22vh;
  width: 30vh !important;
}
.forum-home-thread {
  width: 100% !important;

}
.forum-home-thread p {
  height: 18vh;
  overflow: hidden;
  line-height: 30px;
}
.ant-picker-dropdown {
  z-index: 100 !important;
}
.ant-picker-panel-container {
  width: 18% !important;
  margin-left: 140vh !important;
}
@media screen and (max-width: 786px) {
  .ant-space-align-center {
    margin-top: 10vh;
  }
  .ant-picker-panel-container {
    margin-left: 2vh !important;
    width: 60% !important;
  }

  .forum-home-thread p {
    height: 9vh;
    overflow: hidden;
    line-height: 10px;
  }
  .forum-home-thread h5 {
    font-size: 15px !important;
  }
  .forum-home-thread img {
    height: 16vh !important;
    width: 19vh !important;
  }
  .price {
    padding-bottom: 8vh;
  }
  .addtocart {
    font-size: 15px !important;
  }
  .rs {
    width: 60% !important;
  }
  .rs h3 {
    font-size: 20px;
  }
  .cost {
    font-size: 15px;
  }
  .forum-home {
    background-size: contain;
    padding-bottom: 7em;
    padding-right: unset;
    padding-left: unset;
    padding: 2em;
  }
  .payment-content {
    padding-top: 4em !important;
  }
  .payment-method {
    padding-bottom: 4em;
  }
  .threadlist{
    padding:0!important;
    padding-top: 10em!important;
  }
  .threadlist .forum-threadtwo{
    padding-top: 0!important;
  }
  .threadlist-head{
    padding-left: 1.3em!important;
  }
}

.forum-home-firstpart {
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.08);
  position: relative;
}
.seeall-forum {
  position: absolute;
  bottom: 1em;
  right: 2em;
  color: #f05c2d !important;
  font-family: Montserrat;
  font-weight: 600;
}
.forum-home-service {
  justify-content: center;
  align-items: center;
}
.forum-service-now {
  width: 9vw;
  height: 2.5em;
  background: linear-gradient(105.62deg, #f05c2d 0%, #fcaa2e 120.94%);
  color: black;
  border-radius: 8px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  font-family: Montserrat;
}
.forum-home-thread {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  width: 60%;
  border-radius: 8px;
  padding:1em;
}
.forum-home-thread:hover{
  background-color: #1b1b1b;

}
.ant-upload-list-picture .ant-upload-list-item,
.ant-upload-list-picture-card .ant-upload-list-item {
  border: solid 1px #fc5c2d;
}
.forum-threadtwo {
  justify-content: space-evenly;
  align-items: center;
  padding: 7em !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.08);

}
.home-thread {
  border-bottom: 1px solid #1e1e1e;
  color: #f05c2d !important;
  margin: 8em !important;
  margin-bottom: 0 !important;
  margin-top: 5em !important;
  display: flex;
  justify-content: space-between;
}
.ant-comment-actions > li > span,
a:not([href]):not([tabindex]) {
  color: #f05c2d !important;
}
.home-thread a {
  color: #fc5c2d !important;
  font-weight: 600;
  font-family: Montserrat;
}
.home-thread h6 {
  color: white !important;
  font-family: Montserrat;
  font-weight: bold;
}
.forum-home-thread img {
  width: 15em;
  border-radius: 8px;
}
.forum-home-thread-square {
  border-radius: 8px;
  background-color:#1b1b1b;
  width: 30%;
  min-height: 45vh;
  height: 50vh;
  position: relative;
  overflow: hidden;
}
.forum-home-thread-square p {
  overflow: hidden;
}
.forum-home-thread-square img {
  max-width: 100%;
  border-radius: 8px;
  min-height: 30vh;
}
.trending-thread {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid rgba(255, 255, 255, 0.08);
  justify-content: space-between;
  padding: 2em 0;
  cursor: pointer;
}
.trending-thread:hover{
  background-color: #1b1b1b;
  border-radius: 8px;
  padding:1em;
}
.trending-thread img {
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  border: 1px solid #fc5c2d;
}
.clubhomemain {
  position: relative;
}
.clubhome-posters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3em;
  padding-bottom: 5em;
}
.clubhome-posters img {
  width: 15em !important;
  border-radius: 8px;
}
.forum-create {
  position: absolute;
  right: 6em;
  border: none;
  background: linear-gradient(103.03deg, #f05c2d 8.02%, #fcaa2e 96.06%);
  font-family: Montserrat;
  height: 3em;
  border-radius: 8px;
  width: 14em;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #000000;
}
.continue {
  border: none;
  width: 10em;
  text-decoration: underline;
  background: transparent;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
@media screen and (max-width: 786px) {
  .ant-comment-actions > li > span,
  a:not([href]):not([tabindex]) {
    font-size: 10px;
    padding-right: 1em;
  }
  .clubhome-posters {
    flex-direction: column;
    align-items: center;
  }
  .home-thread {
    margin-top: 8em !important;
    margin-bottom: 0 !important;
    margin-left: 1em !important;
    margin-right: 0 !important;
  }
  .forum-threadtwo {
    padding-top: 0 !important;
  }
  .forum-threadtwo {
    flex-direction: column !important;
    padding: 5em 1em !important;
  }
  .forum-home-thread-square {
    width: 100%;
    margin-top: 1em;
    min-height: unset;
  }
  .forum-home-thread img {
    width: 50vw;
    height: 15vh;
  }
  .forum-home-thread p {
    font-size: 10px;
  }
  .forum-home-thread h6 {
    font-size: 15px;
  }
  .forumcontentone {
    padding: unset !important;
    padding-bottom: 7em !important;
  }
  .forum-home-thread {
    width: unset !important;
  }
  .forum-head-image {
    width: 100% !important;
  }
  @media screen and (max-width: 786px) {
    .forum-head-image img {
      width: 87vw !important;
    }
  }
  .forum-home-firstpart {
    flex-direction: column !important;
    padding: 0 !important;
    padding-top: 5em !important;
    padding-bottom: 5em !important;
  }
  .clubhomemain {
    padding: unset !important;
  }

  .timeline-content-images {
    flex-direction: column !important;
  }
  .timeline-account-detail {
    width: unset !important;
  }
  .forum-service-now {
    width: 10em;
  }
  .seeall-forum {
    padding-top: 3em;
  }
  .forum-threads {
    padding: 1em !important;
    margin-bottom: 10vh !important;
  }
  .trending-thread p {
    font-size: 10px !important;
  }
  .trending-thread h6 {
    font-size: 15px !important;
  }
}

/* ////////////THREAD EXPANDED////////////////////// */
.threadexpand {
  padding: 5em;
}
@media screen and (max-width: 786px) {
  .thread-create{
    padding:2vh!important;
    padding-bottom:10vh!important;
    padding-top: 14vh!important;
  }
  .thread-create-field{
    display: flex!important;
    justify-content: center!important;
    flex-direction: column!important;
    align-items: center!important;
    padding-top: 0!important;
  }
  .thread-create-imagefield{
    display: flex!important;
    align-items: center!important;
    width: 100%!important;
    justify-self: space-between!important;
  }
  .thread-create-upload{
    width: 50%!important;
  }
  .thread-create-title{
    width:100%!important;
  }
  .thread-create-textfield{
    width: 100%!important;
  }
  .thread-create-content{
    width:100%!important;
  }
  .threadexpand {
    padding: 0;
    padding-bottom: 5em;
  }
  .threadexpand-content {
    justify-content: center;
    align-items: center;
    width: unset !important;
    padding-top: 8em !important;
    margin-top: 0 !important;
  }
}
.threadexpand-content {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 8px;
  width: 70%;
  padding: 3em;
  margin-top: 2em;
  font-family: Montserrat;
  justify-content: space-between;
}
.threadexpand-content p {
  font-size: 13px;
  font-weight: 600;
  padding-top: 1em;
}
.threadexpand-content h5 {
  font-size: 21px;
  color: white;
  font-family: Montserrat;
  font-weight: 600;
}
.threadexpand-content img {
  width: 25em;
  border-radius: 8px;
}
/* .ant-comment-actions > li > span,
a:not([href]):not([tabindex]) {
  color: white !important;
} */
.ant-comment-content-author-name {
  color: #f05c2d !important;
}
.ant-comment-content-detail {
  color: white !important;
}
.ant-btn.ant-btn-primary {
  background-color: rgba(255, 255, 255, 0.08) !important;
}
.ant-form-item .ant-mentions,
.ant-form-item textarea.ant-input {
  background-color: rgba(255, 255, 255, 0.08);
  color: white;
}
.ant-form-item .ant-mentions,
.ant-form-item textarea.ant-input:hover {
  border-color: unset;
}
.ant-form-item .ant-mentions,
.ant-form-item textarea.ant-input:active {
  border-color: #fc5c2d;
}
.ant-list-header {
  color: white;
}
.thread-profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2em;
}
.thread-profile-header img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.thread-profile-header p {
  color: #fc5c2d;
  font-weight: 600;
  font-family: Montserrat;
  padding-left: 1em;
}

/* ////////////////////////////////////////ForumCreate/////////////////////////////////////////// */

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background-color: rgba(255, 255, 255, 0.267) !important;
  color: rgba(255, 255, 255, 0.38) !important;
  border: none;
  border-left: none !important;
  border-color: unset !important;
  border-radius: 20px !important;
  margin: 2em;
  margin-left: 0 !important;
}
.ant-radio-button-wrapper:first-child,
.ant-radio-button-wrapper:last-child {
  border-radius: 20px !important;
  margin: 2em !important;
  margin-left: 0 !important;
}
.ant-radio-button-wrapper {
  background-color: rgba(255, 255, 255, 0.08) !important;
  color: rgba(255, 255, 255, 0.38) !important;
  border-color: black !important;
  border-radius: 20px;
  margin: 2em !important;
  margin-left: 0 !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: unset !important;
  background: unset !important;
  margin: 2em;
  margin-left: 0 !important;
}
.ant-radio-button-wrapper::before {
  background: unset !important;
}
.create-forum-button {
  background: linear-gradient(108.01deg, #f05c2d 0%, #fcaa2e 120.94%);
  border-radius: 8px;
  border: none;
  width: 13em;
  color: black;
  height: 3em;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}

/* ////////////////////////////////////CLUB HOME FORUM//////////////////////////////////////// */

.ant-timeline-item {
  padding-bottom: 15vh !important;
  color: white !important;
}

.ant-timeline-item-tail {
  border-color: rgba(255, 255, 255, 0.08) !important;
}
.ant-timeline-item-head-blue {
  border-color: #fc5c2e !important;
  border-width: 1px !important;
}
.timeline-image {
  width: 15em;
  border-radius: 8px;
}
.timeline-content {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  width: 80%;
  padding: 4em;
}
.timeline-content h6 {
  color: white !important;
  font-family: Montserrat;
}
.timeline-content-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.timeline-content-images img {
  width: 12em;
  border-radius: 8px;
}
.ant-timeline-item-content {
  margin-left: 50px !important;
  margin-top: 15px !important;
}
.timeline-account-detail {
  padding-top: 2em;
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ant-picker {
  color: white !important;
  background-color: black !important;
}
/* .ant-picker-dropdown {
  width: 90% !important;
} */
.ant-picker-input > input {
  color: white !important;
}
.ant-spin-dot-item {
  background-color: #fc5c2d !important;
}
